<div class="card profile-intro">
    <img src="../../assets/images/profile-image.jpg" alt="Photo of the author Tony Pham holding potential Magic: The Gathering commander Hama Pashar, Ruin Seeker">
    <div class="card-body">
        <h2 class="card-title">About</h2>
        <p class="card-text lead">
            Hi there, my name is Tony Pham!
            My primary interest is web development, but I also like to dabble in other areas such as software, hardware and game development.
            On this page you'll find some examples of different personal projects I have worked on.
            Outside of coding, I really like spending time with friends and playing badminton (when there isn't a global pandemic going on), Magic: The Gathering, and Dungeons & Dragons.
        </p>
    </div>
</div>