details {
    border: 1px solid rgb(227, 221, 206);
    border-radius: 5px;
    padding: 15px;
    font-size: 1.25rem;
}

summary {
    font-size: 1.35rem;
}

.project-detail-even {
    background-color: rgb(124, 162, 150);
}

.project-detail-odd {
    background-color: rgb(73, 108, 136);
}